.nav{
    background-color: rgba(0, 0, 0, 0);
}

.countdown {
    background-image: url('./background.jpg');
    max-width: 100%;
    height: 41.7rem;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.countdown .info-box{
    color: white;
    /* border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem; */
    background-color: rgba(0, 0, 0, 0.2);
    /* -webkit-text-stroke: 1px white; /* width and color */
}

.footer .row {
    padding-bottom: 0.5rem;
    width: 100%;
}

.footer span{
    font-size: 1rem;
}

.footer span a{
    color: white;
    text-decoration: none;
}

.footer span a:link{
    color: white;
    text-decoration: none;
}

.footer span a:hover{
    color: rgba(255, 255, 255, 0.753);
    text-decoration: none;
}

.footer span a:focus{
    color: white;
    text-decoration: none;
}

.footer span a:active{
    color: white;
    text-decoration: none;
}